.Contact{
    grid-area: Contact;
    height: 70px;
    background-color: #121212;
    border-top:1px solid #414141;
    color:#d0d0d0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact{
    height: 40px;
    width: 40px;
    margin:13px;
}