*{
  margin: 0;
  overflow-x: hidden;
}

.App{
  width: 100vw;
  height: 100vh;
}

.container{
  background-color: #191919;
  display: grid;
  width: 100vw;
  grid-template-columns: 25vw auto 25vw;
  grid-template-rows: 100vh calc(100vh - 70px) calc(150vh - 70px) calc(100vh - 70px);
  grid-template-areas: ". Home ." 
                       ". About ." 
                       ". Proyects ."
                       ". Technologies ." 
                       "Contact Contact Contact";
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:visited{
  color: #d0d0d0;
}